@{
    ViewData["Title"] = "Home Page";
}

@model UserAuthProject.Models.User.UserLoginData

@using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
{
    <div>
        <p>Username or Email: @Html.TextBoxFor(data => data.UsernameOrEmail)</p>
        <p>Password: @Html.TextBoxFor(data => data.Password)</p>
    </div>
    <button type="submit">Login</button>
}