@model UserAuthProject.Models.User.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello @Model.Username</h1>
    <p>You are authorized!</p>
</div>
